.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  background-color: black;
  color: white;
  text-align: center;
}
  
.heading > h1 {
  padding: 20px;
  margin: 0;
  margin-left: auto;
}

.download-button {
  padding-right: 20px;
  margin-left: auto;
  font-size: x-large;
}

.download-button a {
  color: white;
}